<div class="row">
	<div class="span8">
		<h2>Playing: {{name}} in {{game.deck.language}}</h2>
	</div>
</div>

<!-- Running Score -->
<div class="row">
	<div class="span3">
		<span>Score: {{scoreBoard.score}} correct out of {{scoreBoard.outOf}}</span>
	</div>
</div>

<div ng-repeat="card in game.deck.cards | filter:{value:currentCard.value}:true" class="card card-flip">
	<div class="row">
		<div class="span2">
			Card Says
		</div>
		<div class="span2">
			{{card.value}}
		</div>
		<div class="span1">
			<i ng-show="card.help" popover="{{card.help}}" popover-trigger="mouseenter" class="icon-question-sign"></i> 
		</div>
	</div>
</div>
	
<div class="row">
	<div class="span2">
	</div>
	<div class="span2">
		<input type="text" placeholder="Enter your translation" ng-model="guess" focus-me="focusInput" ng-change="clearFeedback()" />
	</div>
	<div class="span2">
		<button ng-click="checkGuess(); focusInput=true" type="button" class="btn btn-primary">Check</button>
	</div>
</div>

<div class="row">
	<div ng-show="feedback" class="span4 my-feedback">
		<span ng-show="feedback" ng-class="getAlertType()">{{feedback}}</span>
	</div>
</div>

<h4>Experiment with custom flash card directive</h4>
<flashcard card-value="{{currentCard.value}}" 
	card-translated="{{currentCard.translated}}" 
	flip-card="{{flipcard}}">
</flashcard>

<audio id="game-sound" ng-src="{{gameSound}}"></audio>

<!-- DEBUG -->
<div class="row debug-toggle">
	<div class="span4">
		<input type="checkbox" ng-model="debug" /> Debug
		<pre ng-show="debug">
			<ul>
				<li ng-repeat="card in game.deck.cards">{{card.value}} - {{card.translated}}</li>
			</ul>
		</pre>
	</div>
</div>