<!-- Title -->
<div class="row">
	<div class="span12">
		<h2>Playing: {{name}} in {{deck.language}}</h2>
		<h3>Level: {{level}}</h3>
	</div>
</div>

<!-- Running Score -->
<div class="row">
	<div class="span3">
		<progress percent="scorePercentage" animate="false" class="progressbar"></progress>
		<br/>
		<span>Score: {{scoreBoard.score}} correct out of {{scoreBoard.outOf}}</span>
	</div>
</div>

<!-- Help -->
<div class="row">
	<div class="span3">
		<i ng-show="currentCard.help" popover="{{currentCard.help}}" popover-trigger="mouseenter" class="icon-question-sign"></i>
	</div>
</div>

<!-- Card -->
<div ng-if="level === 'beginner'">
	<flashcard
		message="message"
		display="display"
		card-value="{{currentCard.translated}}"
		card-translated="{{currentCard.value}}"
		behaviour="flashCardBehaviour">
	</flashcard>
</div>
<div ng-if="level === 'intermediate'">
	<audiocard
		message="message"
		carddata="currentCard"
		behaviour="flashCardBehaviour">
	</audiocard>
</div>
<div ng-if="level === 'advanced'">
	<flashcard
		message="message"
		display="display"
		card-value="{{currentCard.value}}"
		card-translated="{{currentCard.translated}}"
		behaviour="flashCardBehaviour">
	</flashcard>
</div>

<!-- User Data Entry for Guess -->
<div ng-hide="flashCardBehaviour.flipCard" class="row data-entry">
	<div class="span2">
	</div>
	<div class="span2">
		<input type="text" placeholder="Enter your translation" ng-model="guess" focus-me="focusInput" />
	</div>
	<div class="span2">
		<button ng-click="checkGuess(); focusInput=true" type="button" class="btn btn-primary">Check</button>
	</div>
</div>

<!-- Move to next card -->
<div ng-show="flashCardBehaviour.flipCard" class="row my-feedback">
	<div class="span2">
	</div>
	<div class="span2">
	</div>
	<div class="span2">
		<button ng-click="moveAhead(); focusInput=true" type="button" class="btn btn-info">Next</button>
	</div>
</div>

<!-- DEBUG -->
<div class="row debug-toggle">
	<div class="span4">
		<input type="checkbox" ng-model="debug" /> Debug
		<pre ng-show="debug">
			<ul>
				<li ng-repeat="card in deck.cards">{{card.value}} - {{card.translated}}</li>
			</ul>
		</pre>
	</div>
</div>