<!-- Title -->
<div class="row">
	<div class="span12">
		<h2>Playing: {{name}} in {{deck.language}}</h2>
		<h3>Level: {{level}}</h3>
	</div>
</div>

<!-- Running Score -->
<div class="row">
	<div class="span3">
		<span>Score: {{scoreBoard.score}} correct out of {{scoreBoard.outOf}}</span>
	</div>
</div>

<!-- Help -->
<div class="row">
	<div class="span3">
		<i ng-show="currentCard.help" popover="{{currentCard.help}}" popover-trigger="mouseenter" class="icon-question-sign"></i> 
	</div>
</div>

<!-- Card -->
<flashcard 
	message="message"
	display="display"
	card-value="{{currentCard.value}}" 
	card-translated="{{currentCard.translated}}" 
	flip-card="{{flipcard}}">
</flashcard>

<!-- User Data Entry for Guess -->
<div ng-show="!flipcard" class="row data-entry">
	<div class="span2">
	</div>
	<div class="span2">
		<input type="text" placeholder="Enter your translation" ng-model="guess" focus-me="focusInput" />
	</div>
	<div class="span2">
		<button ng-click="checkGuess(); focusInput=true" type="button" class="btn btn-primary">Check</button>
	</div>
</div>

<!-- Feedback -->
<div class="row">
	<div ng-show="feedback" class="span4 my-feedback">
		<span ng-show="feedback" ng-class="getAlertType()">{{feedback}}</span>
		<button ng-click="moveAhead(); focusInput=true" type="button" class="btn btn-info">Next</button>
	</div>
</div>

<!-- DEBUG -->
<div class="row debug-toggle">
	<div class="span4">
		<input type="checkbox" ng-model="debug" /> Debug
		<pre ng-show="debug">
			<ul>
				<li ng-repeat="card in deck.cards">{{card.value}} - {{card.translated}}</li>
			</ul>
		</pre>
	</div>
</div>