<div class="row">
	<div class="span6">
        <div class="media" ng-repeat="deck in decks">
          <a class="pull-left" href="#">
           <img src="http://placehold.it/250x150">
         </a>
         <div class="media-body">
        <h4 class="media-heading">
            <a ng-href="#/game/{{deck.name}}">{{deck.name}}</a></h4>
         <div class="media">
            <p>{{deck.language}}</p>
            <a ng-href="#/game/level/beginner/name/{{deck.name}}" class="btn btn-primary">Play Beginner!</a>
            <a ng-href="#/game/level/intermediate/name/{{deck.name}}" class="btn btn-primary">Play Intermediate!</a>
            <a ng-href="#/game/level/advanced/name/{{deck.name}}" class="btn btn-primary">Play Advanced!</a>
        </div>
    </div>
    </div>
</div>
</div>

