<div class="row">
	<div class="span6">
        <div class="media" ng-repeat="deck in decks">
          <a class="pull-left" href="#">
           <img src="http://placehold.it/250x150">
         </a>
         <div class="media-body">
        <h4 class="media-heading">
            <a ng-href="#/game/{{deck.name}}" ng-click='startGame(deck)'>{{deck.name}}</a></h4>
      <!-- Nested media object -->
         <div class="media">
            <p>{{deck.language}}</p>
            <a ng-href="#/game/{{deck.name}}" class="btn btn-primary" ng-click="startGame(deck)">Play Advanced!</a>
            <a ng-href="#/gamebeginner/{{deck.name}}" class="btn btn-primary">Play Beginner!</a>
        </div>
    </div>
    </div>
</div>
</div>

    